body{
  padding-left: 50px;
  padding-right: 50px;
  background: no-repeat url(img/15050805_5565475.svg);;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

header{
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 70px;
  border-bottom: 1px solid black;
}

#logo{
  border-radius: 50%;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_item{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(157, 31, 28);
  max-width: 300px;

  border-radius: 5px;

  -webkit-box-shadow: 12px 15px 13px 2px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 12px 15px 13px 2px rgba(34, 60, 80, 0.22);
  box-shadow: 12px 15px 13px 2px rgba(157, 31, 28, 0.26);
}

.card_image{
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
}

.card_text{
  color:aliceblue;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  max-width: 150px;
}

footer{
  height: 100px;
  padding-top: 20px;
  margin-top: 70px;
  border-top: 1px solid black;

  display: flex;
  justify-content: space-between;
}

#contacts{
  margin-left: 20px;
}
#developer{
  margin-right: 20px;
}
